@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Serif+Pro&display=swap');

header {
    background: rgba(0, 0, 0, 0.9);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

img{
    max-height: 100vh;
    max-width: 100%;
    height: auto;
    width: 100vw;
    z-index: -1;
    opacity: .5;
}

h1 {
    position: relative;
    color: white;
    font-size: 3vw;
}

h3{
    position: relative;
    color: white;
    font-size: 1.3vw;
}

.text {
    position: absolute;
    top: 26%;
    width: 100%;
    text-align: center;
}

.btn {
    font-family: "Montserrat", sans-serif;
    font-size: .9vw;
    padding-top: .7vw;
    padding-bottom: .7vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    margin-top: 2vw;
}
 