@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Serif+Pro&display=swap');

.main-picture {
    background-color: #ffffff;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    opacity: 0.88;
}

.main-picture::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

h1 {
    position: relative;
    color: white;
    font-size: 3vw;
}

h3{
    position: relative;
    color: white;
    font-size: 1.2vw;
    font-style: italic;
}

.text {
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
}

.btn {
    font-family: "Montserrat", sans-serif;
    font-size: .9vw;
    padding-top: .7vw;
    padding-bottom: .7vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    margin-top: 2vw;
}